<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinqToSoql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LinqToSoql.Properties.Settings>
            <setting name="LinqToSoql_PartnerSforce_SforceService" serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/u/33.0</value>
            </setting>
        </LinqToSoql.Properties.Settings>
    </applicationSettings>
</configuration>